/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

.recepty {
  color: white;
}

.recept {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  border-bottom: 1px solid white;
  background-size: cover;
  min-height: 90px;
}

.hlavni {
  background-image: url(images/salat.jpg);
  background-size: cover;
  min-height: 200px;
}
.horni-text {
  display: flex;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nadpisy {
  flex-direction: column;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.male-nadpisy {
  font-size: 18px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.maly1 {
  background-image: url(images/chlebicek.jpg);
}
.maly2 {
  background-image: url(images/tacos.jpg);
}

.maly3 {
  background-image: url(images/cizrna.jpg);
}
.maly4 {
  background-image: url(images/burger.jpg);
}

@media screen and (min-width: 480px) {
  .hlavni {
    min-height: 250px;
    padding: 20px;
  }
  .male-recepty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .recept {
    flex: 0 0 calc(100% / 2);
    padding: 20px;
  }
  .maly1,
  .maly2,
  .maly3,
  .maly4 {
    flex: 0 0 calc((100% - 1px) / 2);
    min-height: 150px;
  }
  .male-nadpisy {
    font-size: 22px;
  }
}

@media screen and (min-width: 860px) {
  .recepty {
    display: flex;
  }
  .hlavni {
    min-height: 400px;
  }
  .maly1,
  .maly2,
  .maly3,
  .maly4 {
    min-height: 200px;
  }

  .hlavni {
    min-height: 400px;
    flex: 0 0 calc(100% / 3);
    border-right: 1px solid white;
  }
  .nadpisy {
    font-size: 48px;
  }
  .male-nadpisy {
    font-size: 28px;
  }
}
